<h1>Write a Note to <%= @recipient.first_name + ' ' + @recipient.last_name %></h1>
<%= form_for(@note, url: @route, method: 'post') do |f| %>
  <%= f.label :content %><br/>
  <%= f.text_area :content %><br/>
  <%= f.submit 'Send Note' %>
<% end %>
