<!DOCTYPE html>
<html>
  <head>
    <title>X-School</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag :application, "//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag :application, "//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js" %>

  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">X-School</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="/teams">Teams</a>
            <a class="nav-item nav-link" href="/teachers">Teachers</a>
            <a class="nav-item nav-link" href="/students">Students</a>
            <a class="nav-item nav-link" href="/profile">Profile</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
