<!DOCTYPE html>
<html>
  <head>
    <title>X-School</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag :application, "//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag :application, "//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js" %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
